body{
    background-color: #E9ECEF;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    overflow: hidden;
    background-color: rgb(79, 78, 78);
  }
  

  
  li a {
    display: block;
    color:  #bac4d9;
    text-align: center;
 
    padding: 14px 16px;
    text-decoration: none;
  }
  
  h2{
    text-align: center;
    color: rgb(36, 57, 77);
    padding-top: 7px;
  }

  p{
    text-align: center;
    padding: 10px;
    color: rgb(164, 133, 87);
  }

  h4{
    text-align: center;
    color: rgb(160, 6, 140);

  }

  .ul2{
    padding-left: 45%;
    color: rgb(169, 9, 249);
  }